<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>UW IoT Lab10</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/morris.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery-ui.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab10.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='icon/favicon.ico') }}">

  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/raphael.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/morris.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lab10.js') }}"></script>

</head>

<body>
  <div class="panel container">
    <div class="container well well-sm">
      <h4 id='title'>UW IoT | Lab 10 Air Speed Indicator</h4>
    </div>

    <div class="container well">
      <!-- Dashboard Row-->
      <table id="con">
        <tr>
          <td id="params-cell">
            <div id="tabs">
              <ul>
                <li>
                  <a href="#tabs-stepper">STEPPER</a>
                </li>
              </ul>
              <div id="tabs-stepper">
                <table>
                  <tr>
                    <td>
                      <!-- <div class="container well"> -->
                      <table class="table">
                        <tr>
                          <td>
                            <h6>Motor Status
                              <span id='motor_state' class="label label-default">&#8635</span>
                            </h6>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h6>Knots Indicated Air Speed (KIAS)
                              <span id="motor_position" class="label label-default">100</span>

                            </h6>
                          </td>
                        </tr>
                      </table>
                      <!-- </div> -->
                    </td>
                    <td>
                      <table class="table">
                        <tr>
                          <td>New Motor Speed(rpm):</td>
                          <td>
                            <input id='motor_speed' type="number" min="0" max="250" name="rpm" value=100>
                          </td>
                        </tr>
                        <tr>
                          <td>Number of Steps:</td>
                          <td>
                            <input id='motor_steps' type="number" min="0" max="600" name="steps" value=100>
                          </td>
                        </tr>
                        <tr>
                          <td>Motor Direction:</td>
                          <td>
                            <select id='motor_direction' type="text" name="direction" value="CW">
                              <option value="CW">Clockwise</option>
                              <option value="CCW">Counter Clockwise</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Climb Rate (ft/min):</td>
                          <td>
                            <input id='motor_climb' type="number" min="-2000" max="2000" name="fpm" value=500>
                          </td>
                        </tr>                       
                      </table>
                    </td>
                  </tr>
                </table>
                <div id="motor-chart" style="height: 90%; width: 90%;"></div>
                <div id="stepper_buttons" class="container well">
                  <button type='button' class="btn btn-default" id='motor_start'>START</button>
                  <button type='button' class="btn btn-default" id='motor_stop'>STOP</button>
                  <button type='button' class="btn btn-default" id='motor_zero'>POS ZERO</button>
                  <button type='button' class="btn btn-success" id='motor_multistep'>MULTI-STEP</button>
                  <button type='button' class="btn btn-success" id='motor_fpm'>CLIMB</button>                  
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <script type="text/javascript">
    var iotSource = new EventSource("{{ url_for('myData') }}");
    // intercept the incoming states from SSE
  </script>
</body>

</html>